


  .contacts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    padding: var(--large-size-padding) ;
    padding-top: 10vh;
    padding-bottom: 10vh;
    justify-content: space-between;
  }

  .contacts-container .heading{
    text-align: center;
    font-size: var(--font-lg);

    font-weight: var(--font-medium);

  }

  .wrap-contacts{
    display: flex;
    gap: 3vw;
    
  }

  .form{
    display: flex;
    flex-direction: column;
    gap: 4vh;
  }

  .wrap-images-form{
    display: flex;
    flex-direction: column;
    
  }

  
  .wrap-images-form h1{
      font-size: var(--font-lg);
  } 
  

  .wrap-images-form img{
    align-self: flex-start;
    width: 30rem;
  }

   textarea{
       padding: 10px ;
       border: none;
       outline: none;
       background-color: var(--secoundary-color);
       border-radius: 5px;
       resize: none;
   }

 .contacts-container .form input{
    padding: 10px ;
    min-width: 30rem;
    border-radius: 5px;
     border: none;
    outline: none;
    background-color: var(--secoundary-color);
  }


  #submit-btn{
    background-color: var(--primary-color);
    color: var(--theme);
    padding: 10px;
    cursor: pointer;
    border:none;
    border-radius: 5px;
    font-size: var(--font-medium);

    &:hover{
      background-color: #4694e7;
    }
  }