:root {
    --font: satoshi;
    --theme: #ffffff;
    --primary-color: #4ea5ff;
    --secoundary-color: #f2f2f2;
    
    --tri-color: #292f36;
    --quadra-color:#659bd5;
    --primary-letter-color: #161b2c;
    --secoundary-letter-color: #b7bdc8;
    --font-bolder: 900;
    --font-medium: 600;
    --font-thin: 200;
    --font-lg: clamp(20px, calc(2rem + 3vw), 3rem);
    --font-md: clamp(18px, calc(0.7rem + 1vw), 2rem);
    --font-sm: clamp(16px, calc(0.6rem + 1vw), 1rem);
    --primary-font: "Inter", sans-serif;
    --large-size-padding: 0 8vw;
  }


  .footer-container{
    padding: var(--large-size-padding);
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secoundary-color);
    gap: 2vh;
  }

  .nav-bottom{
    display: flex;
    gap: 2vw;

  }
  .nav-bottom a{
    color: var(--primary-letter-color);
  }

  .wrap-links-sm{
    display: flex;
    gap: 3vw;
    justify-content: center;
    align-items: center;
    font-size: var(--font-sm);
    width: 100%;
    position: relative;

  }
  .wrap-links-sm::before{
    position: relative;
    content: '';
    left:0;
    width: 30%;
    height: 1px;
    background-color: rgb(22, 27, 44,0.2);
  }
  .wrap-links-sm::after{
    position: relative;
    content: '';
    left:0;
    width: 30%;
    height: 1px;
    background-color: rgb(22, 27, 44,0.2);
  }

  .wrap-links-sm a{
    color: var(--primary-letter-color);
  }

  