/* imported links */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Rakkas&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* universal styling */
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    text-decoration: none;
    font-family: var(--primary-font);
   
    scroll-behavior: smooth;
   
}

::-webkit-scrollbar{
    display: none;
}

::selection{
    background-color: var(--primary-color);
    color:var(--secoundary-color) ;
}

/* root styling */
:root{
    --theme:#ffffff;
    --primary-color:#4EA5FF;
    --secoundary-color:#F5F7FA;
    --tri-color:#292f36;
    --primary-letter-color:#161b2c;
    --secoundary-letter-color:#b7bdc8;
    --font-bolder:900;
    --font-medium:600;
    --font-thin:200;
    --font-lg:clamp(20px,calc(2rem + 3vw),3rem);
    --font-md:clamp(16px,calc(1rem + 0.8vw),2rem);
    --font-sm:clamp(12px,calc(0.8rem + 0.1vw),1rem);
    --primary-font: "Inter", sans-serif;
    --large-size-padding:0 5vw;
    --landing-page-large-size-padding:0 15vw;
}

/* header */

.header{
    height: 100px;
}

.header-main{
    height: inherit;
    padding:var(--large-size-padding) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: -1px;
    left: 0;
    right: 0;
    background-color: var(--theme);
    width: 100%;
    box-shadow:0 0 0px rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    z-index: 10000;
}

.header .wrap-links{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.header .logo{
    width: 36px;
    height: 100px;
    object-fit: cover;
}
.header .nav-bar{
    display: flex;
    gap: 2vw;
   
}

.header .nav-bar .nav-item{
    color: var(--tri-color);
    font-size: var(--font-sm);
    font-weight: var(--font-medium);
    transition: 0.5s ease;
    position: relative;

}
.nav-item::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    transition: 0.5s ease;
    background-color: var(--primary-letter-color);
}
.nav-item:hover:after{
    width: 100%;
}

.nav-bar .nav-item:hover{
    color: var(--primary-color);
}

.header .contact-btn{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding:15px 30px;
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    transition: 0.5s ease;
}

.header .contact-btn:hover{
    background-color: var(--primary-color);
    border: 1px solid transparent;
    color: var(--secoundary-color);
}

/* main */

.main{

}

/* landing page */

.wrap-p{

}

.wrap-scrool{
    position: relative;
    
    margin: 0 auto;
    display: flex;
    transition: 0.5s ease;
    overflow-x: hidden;



}



.landing-page .landing-inside{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.landing-page .landing-quort{
    font-size: var(--font-lg);
    transform: translateY(0px);
    transition: 0.5s ease;
    opacity: 1;
}


.landing-info{
    font-size: var(--font-md);
    line-height: 40px;
    color: var(--secoundary-letter-color);
    font-weight: var(--font-thin);
    transform: translateY(0px);
    transition: 0.5s ease;
    opacity: 1;
}

.landing-page .buttons-landing{
    display: flex;
    gap: 2vw;
    transform: translateY(0px);
    transition: 0.5s ease;
    opacity: 1;
    overflow: visible;
}

.landing-page .wrap-img .image{
    width: 30rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    /* filter: grayscale(1); */
    transition: 0.5s ease;
    
}


.landing-page .buttons-landing .btn:nth-child(1){
    background-color: var(--primary-color);
    color: var(--secoundary-color);
    padding: 20px 40px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    transition: 0.5s ease;
}
.landing-page .buttons-landing .btn:nth-child(2){
    color: var(--primary-color);
    padding: 20px 40px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    transition: 0.5s ease;
}

@keyframes animate {
    0%{
         transform: translateX(0vw);
    }
    100%{
        transform: translate(-100vw);
    }
}


.landing-page .buttons-landing .btn:nth-child(1):hover{
    background-color: var(--primary-color);
    color: var(--secoundary-color);
    
    transform: translateY(-10px);
}
.landing-page .buttons-landing .btn:nth-child(2):hover{
    background-color: var(--primary-color);
    color: var(--secoundary-color);
  
    transform: translateY(-10px);
}


/* about page */

.about-page{
    width: 100%;
    padding: var(--landing-page-large-size-padding);
    padding-top: 15vh;
    padding-bottom: 15vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--tri-color);
    color: var(--secoundary-color);
}



.about-page>*{
    
   flex: 1;
}

.about-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-weight: var(--font-medium);
    font-size: var(--font-md);
    line-height: 45px;
}

.about-content .about-btn{
    font-size: 20px;
    font-weight: var(--font-thin);
    color: var(--secoundary-color);
    padding: 15px 40px;
    line-height: normal;
    border: 1px solid var(--secoundary-color);
    border-radius: 50px;
    width: fit-content;

    transition: 0.5s ease;
}
.about-content .about-btn:hover{
     color: var(--tri-color);
     background-color: var(--secoundary-color);
     transform: translateY(-10px);
}

.stats{
    display: flex;
    gap: 20px;
    flex-direction: column;
   
}

.wrap-stats{
    display: flex;
    padding: 0 30px;
    gap: 5vw;
}

.number{
    font-size: var(--font-lg);
    font-weight: var(--font-bolder);
}
.conntent{
    font-size: 18px;
    font-weight: var(--font-medium);
}
.stat1,.stat2,.stat3,.stat4{
    padding:0 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
 
}



.landing-quort.slideup,.landing-info.slideup,.buttons-landing.slideup{
    transform: translateY(0px);
    opacity: 1;
}


.wrap-scrool {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:75vh;
}

.landing-page {
    flex: 0 0 100%; /* Each slide takes up 100% of the container width */
    transition: transform 1s ease; /* Smooth transition */
    position: absolute;
    top: 0;
    left: 5%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* min-height: 100vh; */
    background-color: var(--theme);
    margin: 0 auto;
    align-items: center;
    min-width: 100vw;
    background-color: var(--theme);
        
        
}

.landing-page .landing-inside{

    width: 60%;
}



#web-design{
    background: url('./img/web_development.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#digital-m{
    background: url('./img/Digital_marketing.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#graphic-d{
    background: url('./img/Graphics_design.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#seo{
    background: url('./img/Graphics_design.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#video-editing{
    background: url('./img/Graphics_design.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img:hover{
    background-size: 110%;
}